/*
---| contact-component
------------------------------
*/
.contact-component {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  background: var(--secondary);
  width: 100%;
  height: auto;
  min-height: 70vh;
  padding: 5rem 0;
}

.contact-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--green);
  font-weight: bolder;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.contact-intro {
  text-align: center;
}

.form-row {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

#contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: auto;
}

.form-group{
  margin-bottom: 10px;
  width: 100%;
}

.form-input,
.form-textarea
{
  color: var(--dark);
}

.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus
{
  outline: none !important;
  border: 1px solid var(--green);
  box-shadow: none;
  transition: all .2s ease-in-out;
}

.form-btn {
  color: var(--light);
  background: var(--green);
  border: none;
  outline: none;
  width: 100%;
}

.form-btn:hover,
.form-btn:focus
{
  color: var(--light);
  background: var(--green);
  opacity: .8;
  outline: none;
  box-shadow: none;
}

.msg-alert.noSend {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fa99ad;
  background: #a52d45;
  padding: 1rem;
  z-index: 5;
}

.msg-alert.isSend {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d2f899;
  background: #68ac02;
  padding: 1rem;
  z-index: 5;
}