/*
---| realizations-component
------------------------------
*/
.realizations-component {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  background: var(--secondary);
  width: 100%;
  min-height: calc(100vh - 103px);
  padding: 5rem 0;
}

.realizations-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--green);
  font-weight: bolder;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 350px;
  margin: 1rem 0;
}

.project-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}