/*
---| COLORPICK
------------------------------
*/
:root {
  --primary: #112211;
  --secondary: #E2F0D2;
  --light: #eee;
  --dark: #010101;
  --green: #148F06;
}

/*
---| INIT ELEMENTS
------------------------------
*/

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
